body {
  text-align: center;
  font-family: 'Happy Monkey', system-ui;
  font-family: 'Spinnaker', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, rgb(22, 22, 207), white);

}


#hero {
  width: 100vw;
  height: 75vh;  
  background: url('images/header-background.jpg') center/cover no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header-h1 {
  margin: 0px 240px 10px 240px;
  background-color: #1D3557;
  padding: 10px 20px;
  border-radius: 10px;
}

#header-paragraph{
  width: 800px;
  margin: 0px 240px 10px 240px;
  background-color: #457B9D;
  padding: 10px 20px;
  border-radius: 10px;
}

main{
  padding: 100px 20px ;
}


#activities-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.activities-div {
  margin: 50px 80px;
}

.activities-img {
  height: 150px;
  width: 200px;
  border-radius: 50px;
  transition: filter 0.3s ease-in-out; /* Add a smooth transition effect */
}

.activities-img:hover {
  filter: brightness(0.8); /* Darken the image */
  transform: scale(1.1); /* Scale the image to 110% on hover */
}

.activities-paragraph {
  text-align: center;

}

#guide-div {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border-bottom: solid black 5px;
  background-color: rgb(165, 165, 237);
  width: 400px;
  height: 200px;
  margin: 0 auto;
}

.guide-img {
  width: 250px;
  height: 180px;
  padding: 10px;
}

.guide-paragraph {
  font-style: italic;
}